<main>
	<h1 class="main-title title--center">Створити</h1>
	<ul class="create-list">
		<a href="/spotify-create">
			<li class="create-list__item">
				<img src="/svg/spotify-create-1.svg" alt="icon" class="create-list__img">
				<div class="create-list__content">
					<strong class="title">Плейліст</strong>
					<p class="create-list__desc">Створіть плейліст із піснями чи епізодами</p>
				</div>
			</li>
		</a>
		<a href="/spotify-create?isMix=true">
			<li class="create-list__item">
				<img src="/svg/spotify-create-2.svg" alt="icon" class="create-list__img">
				<div class="create-list__content">
					<strong class="title">Мікс</strong>
					<p class="create-list__desc">Комбінуйте смаки в спільному плейлісті з друзями</p>
				</div>
			</li>
		</a>
	</ul>
</main>