@use '../../lib/service.scss' as s;

main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
}

li {
	padding: s.space(3);
}

.form {
	display: flex;
	flex-direction: column;
	gap: s.space(8);
	padding: s.space(4);

	&__title {
		font-size: 20px;
		font-weight: 700;
		padding-bottom: s.space(1);
		border-bottom: 1px solid s.color('light');
	}

	&__content {
		display: grid;
		gap: s.space(6);
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	}

	&__label {
		font-size: 14px;
	}

	&__input {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 8px;
	}

	&__button {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 20px;
		background-color: rgb(33, 172, 33);
		color: white;
	}

	.delete, .update {
		background-color: red;
		padding: s.space(2);
		border-radius: 4px;
		color: white;
		text-decoration: none;
		margin-left: s.space(2);
	}

	.update {
		background-color: orange;
	}
}