@use '../../lib/service.scss' as s;

.product-card {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(4);
    border-radius: 12px;
    border: 1px solid s.color(border);
}

.product-card__img {
    width: 100%;
    max-height: 300px;
}

.product-card__title {
    font-size: 20px;
    font-weight: 500;
}

.product-card__description {
    line-height: 150%;
}

.product-card__category {
    padding: s.space(3) s.space(4);
    border-radius: 20px;
    align-self: flex-start;
}

.product-card__category--1 {
    color: #008000;
    border: 1px solid #008000;
}

.product-card__category--2 {
    color: s.color(main);
    border: 1px solid s.color(main);
}